<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" name="wofostshell logging">

    <Properties>
        <Property name="LOG_DIR">./logs</Property>
        <Property name="ARCHIVE">${LOG_DIR}/archive</Property>
        <Property name="PATTERN">%-5level %d [%t] %c:%M(%L): %m%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
        </Console>

        <RollingFile name="fileWriter"
                     fileName="${LOG_DIR}/wofostshell-run.log"
                     filePattern="${ARCHIVE}/wofostshell-run.log.%d{yyyy-MM-dd-hh-mm}.gz">
            <PatternLayout pattern="${PATTERN}"/>
            <TimeBasedTriggeringPolicy/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="fileWriter"/>
        </Root>
    </Loggers>

</Configuration>